/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

@layer base{
    :root {
        /* For rgb(255 115 179 / <alpha-value>) */
        --color-primary: 255 115 179;
    
        /* For hsl(198deg 93% 60% / <alpha-value>) */
        --color-primary: 198deg 93% 60%;
    
        /* For rgba(255, 115, 179, <alpha-value>) */
        --color-primary: 255, 115, 179;
    }

    /* ---- Heading ----*/
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }

    /* ---- Hyperlink ----*/
    a {
        @apply text-grey-darker no-underline;
    }

    a:hover {
        @apply text-tahiti;
    }
}
/*--------------------------------------------------------------
# Custom Components
--------------------------------------------------------------*/
/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;
/*--------------------------------------------------------------
# Custom Utilities
--------------------------------------------------------------*/
/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-branding__logo-container img{
    max-width: 350px;
}