/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base; /* Base layer is a fundamental part of styling*/
@layer base{
    :root {
        /* For rgb(255 115 179 / <alpha-value>) */
        --color-primary: 255 115 179;
    
        /* For hsl(198deg 93% 60% / <alpha-value>) */
        --color-primary: 198deg 93% 60%;
    
        /* For rgba(255, 115, 179, <alpha-value>) */
        --color-primary: 255, 115, 179;
    }

    /*
    html, body {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    */
    html {
        @apply p-0;
    }

    body {
        @apply p-0;
        @apply bg-red-50;
    }

    /* ---- Header ----*/
    .site-branding__logo-container img{
        max-width: 350px;
    }
    /* ---- Main ----*/
    main {
        @apply px-1;
    }
    
    /* ---- Footer ----*/
    body > footer {
        @apply text-white;
    }

    footer a {
        @apply text-white;
    }

    footer a:visited {
        @apply text-white;
    }

    /* ---- Heading ----*/
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }

    /* ---- Hyperlink ----*/
    a {
        @apply text-black no-underline;
    }
    
    a:link {
        @apply text-black;
    }

    a:visited {
        @apply text-black;
    }

    a:hover {
        @apply text-orange-500;
    }

    a:focus {
        @apply text-orange-500;
    }

    a:active {
        @apply text-orange-800;
    }
    
    /* ---- Buttons ----*/
    button {
        
    }

    button:hover {
        
    }

    /*--------------------------------------------------------------
    # Screen size: sm
    --------------------------------------------------------------*/
    @media screen and (max-width:640px) {
        
        /*html {
            margin-top: 0px !important;
        }*/

        body {
            @apply bg-blue-50;
        }

        #page {
            @apply m-0;
            @apply p-0;
        }

        header .site-navigation {
            @apply justify-between;
        }

        .site-navigation__buttons-left {
            @apply flex-none;
        }

        /* ---- screen(sm): Logo ---- */
        header .site-branding__logo-container img {
            @apply grow;
            max-width: 200px;
        }

        /* ---- screen(sm): Mobile Menu ---- */
        #mobile-menu-list > li:hover {
            @apply underline;
            @apply underline-offset-4;
        }

    }
}

/*--------------------------------------------------------------
# Custom Components
--------------------------------------------------------------*/
/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;
/*--------------------------------------------------------------
# Custom Utilities
--------------------------------------------------------------*/
/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;





/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
